* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #0077B6;
    --secondary-color: #0096C7;
    --accent1-color: rgba(228, 221, 221, 0.5);
    --accent2-color: rgb(252, 191, 73, .2);

    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;

    --nav-background-color: rgba(228, 221, 221, 0.8);
    --nav-link-color: #0077B6;
    --nav-hover-link-color: rgb(3, 4, 94, .7);
    --nav-hover-background-color: rgba(255, 183, 3, 0.5);
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    max-width: 960px;
    width: 80%;
    margin: 50px auto;
}

header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

.navigation {
    list-style-type: none;
    display: flex;
}

.navigation li {
    margin-right: 20px;
}

.navigation li a {
    font-weight: 600;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 4px;
    padding: 5px;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}

.hero {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 80px 20px;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}


.contact-box {
    background-color: var(--accent2-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-box h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

fieldset {
    border-radius: 8px;
}

.form-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.form-group textarea {
    resize: block;
}

.map {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;

}

button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: var(--nav-hover-link-color);
}

footer {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sociallinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sociallinks a {
    margin: 0 10px;
}

.sociallinks p {
    margin: 0;
    font-size: 12px;
}

.hero img {
    width: 100%;
    height: auto;
    background-color: #023e8a;
}


/*

header {
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    max-width: 840px;
    gap: 1rem;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: bold;
    margin-right: 80px;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.sociallinks {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-box {
    display: flex;
    gap: 3rem;
}

.contact-left {
    flex-basis: 50%;
    padding: 40px;
    background-color: var(--accent1-color);
    font-weight: 600;
}

.contact-right {
    flex-basis: 50%;
    padding: 10px;
}

.contact-container {
    padding-top: 20px;
}

.map {
    padding-top: 20px;
}

.staff-container {
    display: flex;
    gap: 2rem;
    margin-top: 20px;
}

textarea {
    padding: 10px;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;
}

button {
    background-color: var(--accent1-color);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 5px;
}

h1 {
    position: relative;
    font-weight: 500;
}

section {
    display: flex;
    margin-bottom: 3rem;
}

img {
    max-width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    background-color: #023e8a;
}

.caption {
    display: flex;
    gap: 1rem;
} */