@import url('site-plan-rafting.css');

html {
    background-color: #000;
  }

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
  }

h1 {
    position:relative;
    bottom: 140px;
    left: 10px;
    font-size: 35px;
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 20px 0;
    color: #a8d5e2;
    text-shadow: 3px 3px 1px black;
  }

/* div article img {
    position: relative;
    width: 10px;
    height: 10px;
    float: right;
} */

section {
    display: block;
    width: 400px;
    height: auto;
}

/* header img {
    position: relative;
    left: 0;
    width: auto;
    height: auto;
    margin-right: auto; */
}

/* main {
	max-width: 800px;
	margin: 2rem auto;
	font-family: Roboto, Arial, sans-serif;
}


nav {
    position: relative;
    background-color: #ffffff;
    margin-right: auto;
    left: 350px;
}

nav a {
    position: relative;
    color: #023e8a;
    display: inline;
    text-decoration: none;
}

div article p {
    position: relative;
    font-size: 20px;
    font-family: Manrope, Arial, sans-serif;
    color: #ffffff;
    bottom: 220px;
    left: 12px;
}


h2 {
    position: relative;
    bottom: 150px;
	left: 5px;
	font-size: 1.2rem;
    font-family: Manrope, Arial, sans-serif;
    color: #023e8a;
	text-shadow: 3px 3px 5px #0077b6;
    margin: 50px;
} */

/* section p {
    position: relative;
    bottom: 180px;
    left: 60px;
    font-size: 1rem;
    font-family: Manrope, Arial, sans-serif;
    color: #0077b6;
} */



footer {
    margin-top: 15px;
    border-top: 1px solid #023e8a;
    text-align: center;
}

.sociallinks a {
    text-decoration: none;
    border-bottom: #023e8a;
    display: inline;
    
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #023e8a;
}

