@import url('https://fonts:googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #0077B6;
    --secondary-color: #0096C7;
    --accent1-color: #FFFFFF;
    --accent2-color: #FCBF49;

    --heading-font: 'Garamond', serif;
    --paragraph-font: 'Tahoma', serif;

    --nav-background-color: #FFFFFF;
    --nav-link-color: #0077B6;
    --nav-hover-link-color: #03045E;
    --nav-hover-background-color: #FFB703;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 30px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}